<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<style>

</style>
<body>
<div  th:fragment="leftOffCanvas">

    <div class="offcanvas offcanvas-start show sideoffcanvus" data-bs-scroll="true" data-bs-backdrop="false" tabindex="-1" id="offcanvasScrolling" aria-labelledby="offcanvasScrollingLabel" style="background-color:#1d4961" >
        <div class="offcanvas-body ">
            <ul class="list-group">
                <li class="list-group-item leftListBgColor" onclick="toggleList(this)">Device
                    <i class="fas fa-chevron-down float-end"></i> <!-- Dropdown icon -->
                    <!-- First nested ul list -->
                    <ul class="list-group nested-list">
                        <li class="list-group-item leftListBgColor" onclick="toggleListItem(this,'deviceList')">Device List</li>
                        <li class="list-group-item leftListBgColor" onclick="toggleListItem(this,'deviceInformation')">Add Device</li>
                    </ul>
                </li>
                <li class="list-group-item leftListBgColor" onclick="toggleList(this)">Category
                    <i class="fas fa-chevron-down float-end"></i> <!-- Dropdown icon -->
                    <!-- First nested ul list -->
                    <ul class="list-group nested-list">
                        <li class="list-group-item leftListBgColor" onclick="toggleListItem(this,'DeviceCategory')">Category</li>
                        <li class="list-group-item leftListBgColor" onclick="toggleListItem(this,'universalColumn')">Universal Column</li>
                        <li class="list-group-item leftListBgColor" onclick="toggleListItem(this,'individualColumn')">Individual Column</li>
                        <li class="list-group-item leftListBgColor" onclick="toggleListItem(this,'dropdownList')">DropDown List</li>

                    </ul>
                </li>
                <li class="list-group-item leftListBgColor" onclick="toggleList(this)">User
                    <i class="fas fa-chevron-down float-end"></i> <!-- Dropdown icon -->
                    <!-- First nested ul list -->
                    <ul class="list-group nested-list">
                        <li class="list-group-item leftListBgColor" onclick="toggleListItem(this,'addUser')">User</li>
                        <li class="list-group-item leftListBgColor" onclick="toggleListItem(this,'internalUser')">Internal User</li>
                        <li class="list-group-item leftListBgColor" onclick="toggleListItem(this,'Designation')">Designation</li>
                    </ul>
                </li>

                <li class="list-group-item leftListBgColor" onclick="toggleList(this)">Device Request
                    <i class="fas fa-chevron-down float-end"></i> <!-- Dropdown icon -->
                    <!-- Second nested ul list -->
                    <ul class="list-group nested-list">
                        <li class="list-group-item leftListBgColor" onclick="toggleListItem(this,'requestColumn')">Create Request Form</li>
                        <li class="list-group-item leftListBgColor" onclick="toggleListItem(this,'requestData')">Request Data from User</li>
                        <li class="list-group-item leftListBgColor" onclick="toggleListItem(this,'purchaseRequestData')">Purchase Request from Purchase</li>
<!--                        <li class="list-group-item leftListBgColor" onclick="toggleListItem(this,'requestDataForPayment')">Payment Request</li>-->
                        <li class="list-group-item leftListBgColor" onclick="toggleListItem(this,'listRequestData')">Alternative Product List Request from Inventory</li>
                        <li class="list-group-item leftListBgColor" onclick="toggleListItem(this,'customerCareRequestData')">CustomerCare RequestList</li>
                        <li class="list-group-item leftListBgColor" onclick="toggleListItem(this,'unOrderedDevice')"> UnOrdered Device</li>

                    </ul>
                </li>

                <li class="list-group-item leftListBgColor" onclick="toggleList(this)">Service
                    <i class="fas fa-chevron-down float-end"></i> <!-- Dropdown icon -->
                    <!-- Third nested ul list -->
                    <ul class="list-group nested-list">
                        <li class="list-group-item leftListBgColor" onclick="toggleListItem(this,'serviceRequest')">Service Request</li>
                        <li class="list-group-item leftListBgColor" onclick="toggleListItem(this,'serviceProposalData')">Service Proposal</li>
                        <li class="list-group-item leftListBgColor" onclick="toggleListItem(this,'serviceReportData')">Service Report</li>
                    </ul>
                </li>
            </ul>

        </div>
    </div>



</div>

</body>
</html>